body.home {

    .site-heading,
    .page-heading,
    .post-heading {
        display: none !important;
    }

    .navbar {
        margin-bottom: 0 !important;
    }

    .header-section {
        position: fixed;
        top: 50px;
        left: 0;
        width: 100%;
        z-index: 0;
    }

    .container[role="main"] {
        margin-top: 350px;
    }

    .intro-header.big-img {
        min-height: 280px;
    }

    .header-section,
    .intro-header {
        margin-top: 0 !important;
        padding-top: 0 !important;
    }    

}

.intro-header.no-img {
    padding-top: 0 !important;
    margin-top: 0 !important;
}

.intro-header.no-img .container {
    padding-top: 120px;
}

.secondary-banner {
    width: 100%;
    height: 280px;              
    background-size: cover;
    background-position: center;

    opacity: 0.35;              
    filter: blur(0px);

    position: relative;
    z-index: 0;
    margin-top: 0px; 
    margin-bottom: 10px; 
}

.secondary-banner-caption {
    position: relative;
    bottom: 10px;
    right: 15px;

    padding: 4px 10px;

    background: rgba(0, 0, 0, 0.35);
    color: white;

    font-size: 0.85rem;
    border-radius: 4px;
}

html[data-theme="dark"],
body[data-theme="dark"],
[data-theme="dark"] {
    --dark-bg: #202020;
}

body {
  font-family: 'Inter', Arial, serif !important;
}

h1 {
  font-family: 'Noto Nastaliq Urdu', 'Mona Sans', Helvetica, 'Times New Roman', sans-serif !important;
}

.page-subheading {
  font-family: 'Garamond', Helvetica, 'Times New Roman', sans-serif !important;
}

h2,h3,h4,h5,h6 {
  font-family: 'Mona Sans', Helvetica, 'Times New Roman', sans-serif !important;
}

.post-subtitle {
  font-family: 'Garamond', Helvetica, 'Times New Roman', sans-serif !important;
}

.post-preview.post-meta,
.post-heading.post-meta,
.post-meta {
    font-style: normal !important;
    font-family: 'Mona Sans', Helvetica, 'Times New Roman', sans-serif !important;
}

