body.home {

    .site-heading,
    .page-heading,
    .post-heading {
        display: none !important;
    }

    .navbar {
        margin-bottom: 0 !important;
    }

    .header-section,
    .intro-header {
        margin-top: 0 !important;
        padding-top: 0 !important;
    }

    .navbar-custom,
    .navbar-custom.top-nav-expanded,
    .navbar-custom.top-nav-short {
        padding-top: 0 !important;
        padding-bottom: 0 !important;

        min-height: 50px !important;
    }

    .navbar-custom .navbar-brand {
        padding-top: 14px !important;
        padding-bottom: 14px !important;

        line-height: 20px !important;
    }

    .navbar-custom .nav li a {
        padding-top: 15px !important;
        padding-bottom: 15px !important;
    }

    .header-section {
        position: fixed;
        top: 50px;
        left: 0;
        width: 100%;
        z-index: 0;
    }

    .container[role="main"] {
        margin-top: 350px;
    }

    .intro-header.big-img {
        min-height: 280px;
    }

}


html[data-theme="dark"],
body[data-theme="dark"],
[data-theme="dark"] {
    --dark-bg: #202020;
}

body {
  font-family: 'Inter', Arial, serif !important;
}

h1 {
  font-family: 'Noto Nastaliq Urdu', 'Mona Sans', Helvetica, 'Times New Roman', sans-serif !important;
}

.page-subheading {
  font-family: 'Garamond', Helvetica, 'Times New Roman', sans-serif !important;
}

h2,h3,h4,h5,h6 {
  font-family: 'Mona Sans', Helvetica, 'Times New Roman', sans-serif !important;
}

.post-subtitle {
  font-family: 'Garamond', Helvetica, 'Times New Roman', sans-serif !important;
}

.post-preview.post-meta,
.post-heading.post-meta,
.post-meta {
    font-style: normal !important;
    font-family: 'Mona Sans', Helvetica, 'Times New Roman', sans-serif !important;
}

