html[data-theme="dark"],
body[data-theme="dark"],
[data-theme="dark"] {
    --dark-bg: #2E2E33;
}

body {
  font-family: 'Inter', Arial, serif !important;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Gelasio', Helvetica, 'Times New Roman', sans-serif !important;
}

.post-preview.post-meta,
.post-heading.post-meta,
.post-meta {
    font-style: normal !important;
    font-family: 'Garamond', Helvetica, 'Times New Roman', sans-serif !important;
}

